@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

header {
    background-color: #f8f8f8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px; /* 10px top and bottom padding, 20px left and right */
    margin-left: 99.5px;
    margin-right: 99.5px;
}

@media (max-width: 768px) {
    #navbar {
        padding: 8px 20px; /* Keep the same padding for smaller screens */
        margin-left: 20px; /* Adjusted left margin for smaller screens */
        margin-right: 20px; /* Adjusted right margin for smaller screens */
    }
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 70px; /* Adjust the size of your logo here */
}

#nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Space between navigation items */
}

#nav-menu li {
    padding: 10px 0; /* Padding for tap targets */
}

#nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

#nav-menu a:hover,
#nav-menu a:focus {
    color: #7B61FF; /* Highlight color on hover */
}

#hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #hamburger-btn {
        display: block;
    }

    #nav-menu {
        position: absolute;
        right: 0;
        top: 60px; /* Adjust this value to match the height of your header */
        background-color: #f8f8f8;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        padding: 10px 20px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    #nav-menu li {
        width: 100%;
        text-align: right;
    }

    #nav-menu a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7; /* Separator for the menu items */
    }

    #nav-menu.active {
        display: flex;
    }
}
#hero {
    background-image: url('image/gg.png'); /* Ensure this points to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 20px; 
    color: #2E2E2E;
}

.hero-content {
    text-align: center; /* Center the text */
    max-width: 900px; /* Maximum width of the content */
    margin: 0 auto; /* Center the content container */
}

.hero-content h1 {
    font-size: 2.5rem; /* Large font size for the title */
    margin-bottom: 20px; /* Space between the title and the introduction */
    color: #2E2E2E; /* Color of the title */
    animation: fadeInUp 1.2s ease-out forwards;
}

.intro p {
    color: #2E2E2E; /* Color of the introduction text */
    /* Remove the background property if you do not want any background */
    padding: 20px; /* Padding inside the intro text */
    animation: fadeInUp 1.2s ease-out forwards;
}

/* Add media queries as necessary to adjust the layout on smaller screens */

@media (max-width: 768px) {
    #hero {
        height: auto; /* Adjust the height on smaller screens */
        padding: 100px 20px; /* More padding on the top and bottom */
    }
    .hero-content h1 {
        font-size: 1.5rem; /* Smaller font size for the title on smaller screens */
    }
}

/* Targeting all sections under the hero section specifically */
#about, #tutorials, #news, #tools {
    padding: 50px 20px; /* Adequate padding */
    margin: 0 auto; /* Centering content */
    max-width: 1200px; /* Maximum content width for readability */
}

@media (max-width: 768px) {
    #about, #tutorials, #news, #tools {
        padding: 30px 15px; /* Adjusted padding for smaller screens */
    }
}

#transition-section {
    background-image: url('image/flowersection.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust based on your design */
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-element {
    transition: transform 2s ease-out, opacity 2s ease-out;
    transform: scale(0);
    opacity: 0;
    will-change: transform, opacity;
}

/* Ensures the image fills its container */
.animated-element img {
    max-width: 100%;
    height: auto;
}

